<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="wrap">
        <form action="/submit" class="form" method="post">
            <span class="signup">Sign Up</span>
            <input name="name" type="text" placeholder="Name" class="form--input">
            <input name="ss" type="number" placeholder="ss" class="form--input">
            <input name="mpmc" type="number" placeholder="mpmc" class="form--input">
            <input name="mss" type="number" placeholder="mss" class="form--input">
            <input name="flat" type="number" placeholder="flat" class="form--input">
            <input name="cn" type="number" placeholder="cn" class="form--input">
            <input name="dm" type="number" placeholder="dm" class="form--input">

            <button type="submit" class="form--submit">
                Add Student
            </button>
            
                    
        </form>
        <a href="/" class="form--submit home">
            Home</a>
    </div>
    
</body>
</html>